/* _content/projet-jean-marcillac/Composants/Cours/CoursDataGrid/TableauCours/TableauCours.razor.rz.scp.css */
.tableau[b-0dlgxtbfem] {
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenu[b-0dlgxtbfem] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.bouton-ajouter[b-0dlgxtbfem] {
    margin-top: 3vw;
}
/* _content/projet-jean-marcillac/Composants/Etudiants/EtudiantsDataGrid/EtudiantsDataGrid.razor.rz.scp.css */
.contenu[b-ohg7g2tbkx] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.tableau[b-ohg7g2tbkx], .barre-recherche[b-ohg7g2tbkx] {
    width: 100%;
    margin-bottom: 2vw;
}
.tableau[b-ohg7g2tbkx] {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* _content/projet-jean-marcillac/Composants/Footer/Footer.razor.rz.scp.css */
.footer[b-t47pkccyiw] {

    background-color: black;
    width: 100%;
    height : 5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 8vw;

}

.contenu[b-t47pkccyiw] {

    border : 1px solid red;
    height: 90%;
    width: 90%;
}
/* _content/projet-jean-marcillac/Composants/FormulaireConnexion/FormulaireConnexion.razor.rz.scp.css */
.contenu[b-tpellg0dh3] {
    margin-bottom: 18vw;
}
/* _content/projet-jean-marcillac/Composants/NavBar/NavBar.razor.rz.scp.css */
nav[b-bm6uieix6k] {

    background-color: black;
    width: 100%;
    height : 5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.contenu[b-bm6uieix6k] {

    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.boutons[b-bm6uieix6k] {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;

    width: 60%;
}

.boutons button[b-bm6uieix6k] {

    
    color : white;
    margin: 3.5vw;
}
/* _content/projet-jean-marcillac/Composants/Professeurs/ProfesseursDataGrid/ProfesseursDataGrid.razor.rz.scp.css */
.contenu[b-2w3l73kyjj] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
}

.tableau[b-2w3l73kyjj], .barre-recherche[b-2w3l73kyjj] {

    width: 100%;
    margin-bottom: 2vw;
}

.tableau[b-2w3l73kyjj] {

    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* _content/projet-jean-marcillac/Pages/PanelAdmin/PanelAdmin.razor.rz.scp.css */
.contenu[b-1hjklefgfg] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border : 3px solid blue; */
    width: 100%;
}

h1[b-1hjklefgfg] {
    margin-bottom: 5vw;
}

.tableaux[b-1hjklefgfg] {

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    /* border : 3px solid green; */
    width: 90%;
}

.tableauProfs[b-1hjklefgfg], .tableauEleves[b-1hjklefgfg] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border : 3px solid red; */

    width: 45%;
}
/* _content/projet-jean-marcillac/Pages/PanelEtudiant/PanelEtudiant.razor.rz.scp.css */
.contenu[b-oc1k9a4gju] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* _content/projet-jean-marcillac/Pages/PanelProf/PanelProf.razor.rz.scp.css */
h1[b-4ezb0572rm] {

    margin-bottom: 3vw;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.contenu[b-4ezb0572rm] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 8vw;
}

.tableau[b-4ezb0572rm] {

    
    margin-top: 5vw;
    width: 90%;

}
