.footer[b-t47pkccyiw] {

    background-color: black;
    width: 100%;
    height : 5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 8vw;

}

h2[b-t47pkccyiw] {
    color : white;
    font-weight: 400;
}

.contenu[b-t47pkccyiw] {

    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}