.contenu {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
}

.details {

    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}

.details p {

    width: 35%;
    text-align: center;
}