/* _content/projet-jean-marcillac/Composants/Cours/CoursDataGrid/TableauCours/TableauCours.razor.rz.scp.css */
.tableau[b-0dlgxtbfem] {
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenu[b-0dlgxtbfem] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.bouton-ajouter[b-0dlgxtbfem] {
    margin-top: 3vw;
}
/* _content/projet-jean-marcillac/Composants/Etudiants/EtudiantsDataGrid/EtudiantsDataGrid.razor.rz.scp.css */
.contenu[b-ohg7g2tbkx] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.tableau[b-ohg7g2tbkx], .barre-recherche[b-ohg7g2tbkx] {
    width: 100%;
    margin-bottom: 2vw;
}
.tableau[b-ohg7g2tbkx] {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* _content/projet-jean-marcillac/Composants/Etudiants/TableauCoursEtudiant/TableauCoursEtudiant.razor.rz.scp.css */
.tableau[b-8mrzpn1h3n] {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* _content/projet-jean-marcillac/Composants/Footer/Footer.razor.rz.scp.css */
.footer[b-t47pkccyiw] {

    background-color: black;
    width: 100%;
    height : 5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 8vw;

}

.contenu[b-t47pkccyiw] {

    border : 1px solid red;
    height: 90%;
    width: 90%;
}
/* _content/projet-jean-marcillac/Composants/FormulaireConnexion/FormulaireConnexion.razor.rz.scp.css */
.contenu[b-tpellg0dh3] {
    margin-bottom: 18vw;
}
/* _content/projet-jean-marcillac/Composants/NavBar/NavBar.razor.rz.scp.css */
nav[b-bm6uieix6k] {

    background-color: black;
    width: 100%;
    height : 5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.contenu[b-bm6uieix6k] {

    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.boutons[b-bm6uieix6k] {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;

    width: 60%;
}

.boutons button[b-bm6uieix6k] {

    
    color : white;
    margin: 3.5vw;
    font-size: 1.2vw;
    transition: color 0.3s ease, border-color 0.3s ease; 
    outline: none;
    border: none;
}

.boutons button:hover[b-bm6uieix6k] {

    color: rgb(157, 157, 255); /* Changement de la couleur du texte au survol */
    border: 2px solid rgb(157, 157, 255);
    cursor: pointer;
    outline: none;
    border: none;
}
/* _content/projet-jean-marcillac/Composants/Professeurs/ProfesseursDataGrid/ProfesseursDataGrid.razor.rz.scp.css */
.contenu[b-2w3l73kyjj] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
}

.tableau[b-2w3l73kyjj], .barre-recherche[b-2w3l73kyjj] {

    width: 100%;
    margin-bottom: 2vw;
}

.tableau[b-2w3l73kyjj] {

    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* _content/projet-jean-marcillac/Pages/Cours/Cours.razor.rz.scp.css */
.contenu[b-gt7pd18di2] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
    margin-bottom: 18vw;
}

h1[b-gt7pd18di2] {
    font-size: 3vw;
    margin-bottom: 3vw;
}

.details[b-gt7pd18di2] {

    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    margin-bottom: 3vw;
}

.details p[b-gt7pd18di2] {

    width: 35%;
    text-align: center;
    font-size: 1.3vw;
}

.contenuCours[b-gt7pd18di2] {

    width: 80%;
    font-size: 1.3vw;
}
/* _content/projet-jean-marcillac/Pages/PanelAdmin/PanelAdmin.razor.rz.scp.css */
.contenu[b-1hjklefgfg] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border : 3px solid blue; */
    width: 100%;
}

h1[b-1hjklefgfg] {
    margin-bottom: 5vw;
    font-size: 3vw;
}

h2[b-1hjklefgfg] {

    font-size: 2vw;
}

.boutons-data[b-1hjklefgfg] {

    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tableaux[b-1hjklefgfg] {

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    /* border : 3px solid green; */
    width: 90%;
    margin-bottom: 5vw;
}

.tableauProfs[b-1hjklefgfg], .tableauEleves[b-1hjklefgfg] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border : 3px solid red; */

    width: 45%;
}
/* _content/projet-jean-marcillac/Pages/PanelEtudiant/PanelEtudiant.razor.rz.scp.css */
.contenu[b-oc1k9a4gju] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cours[b-oc1k9a4gju] {

    display:  flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 90%;
}

.coursNonAbonnes[b-oc1k9a4gju], .coursAbonnes[b-oc1k9a4gju] {

    width: 45%;
}

h1[b-oc1k9a4gju] {
    font-size: 3vw;
    margin-bottom: 4vw;
}

h2[b-oc1k9a4gju] {

    font-size: 2vw;
    margin-bottom: 1.7vw;
}

.coursAbonne[b-oc1k9a4gju] {

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(208, 156, 246);
    margin-bottom: 1vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6vw;

    height: 8vw;
}

.infos h3[b-oc1k9a4gju] {

    font-size: 1.9vw;
}

.infos p[b-oc1k9a4gju] {

    font-size: 1.4vw;
}

.boutons[b-oc1k9a4gju] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 86%;
}
/* _content/projet-jean-marcillac/Pages/PanelProf/PanelProf.razor.rz.scp.css */
h1[b-4ezb0572rm] {

    margin-bottom: 3vw;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.contenu[b-4ezb0572rm] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 8vw;
}

.tableau[b-4ezb0572rm] {

    
    margin-top: 5vw;
    width: 90%;

}
