.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.tableau, .barre-recherche {
    width: 100%;
    margin-bottom: 2vw;
}
.tableau {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}