.tableau[b-0dlgxtbfem] {
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenu[b-0dlgxtbfem] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.bouton-ajouter[b-0dlgxtbfem] {
    margin-top: 3vw;
}