.contenu[b-1hjklefgfg] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border : 3px solid blue; */
    width: 100%;
}

h1[b-1hjklefgfg] {
    margin-bottom: 5vw;
}

.tableaux[b-1hjklefgfg] {

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    /* border : 3px solid green; */
    width: 90%;
}

.tableauProfs[b-1hjklefgfg], .tableauEleves[b-1hjklefgfg] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border : 3px solid red; */

    width: 45%;
}