<nav>
    <div class="contenu">

        <div class="boutons">
            <button @onclick="() => NaviguerVers(1)">
            Panel Admin
        </button>
        <button @onclick="() => NaviguerVers(2)">
            Espace professeur
        </button>
        <button @onclick="() => NaviguerVers(3)">
            Espace étudiant
        </button>
        </div>
    </div>
</nav>