@using projet_jean_marcillac.Modeles
@using MudBlazor

<MudDataGrid T="Cours" Items="@Cours" Bordered="true" Dense="true"
                EnablePaging="true" PageSize="10" QuickFilter="@QuickFilter" 
                RowsPerPageOptions="new int[] { 10, 20, 50, 100 }">
    <Columns>
        <PropertyColumn Property="c => c.Titre" Title="Titre" Filterable="true" />
        <PropertyColumn Property="c => c.Resume" Title="Résumé" Filterable="true" />

        <TemplateColumn CellClass="d-flex justify-end" Title="S'abonner">
            <CellTemplate>
                <div class="d-flex align-items-center">
                    <MudIconButton Icon="@Icons.Material.Outlined.Alarm" Color="Color.Success" 
                                    OnClick="() => AbonnerEtudiant(context.Item)"/>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Cours" PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
    </PagerContent>
</MudDataGrid>