h1[b-4ezb0572rm] {

    margin-bottom: 3vw;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.contenu[b-4ezb0572rm] {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 8vw;
}

.tableau[b-4ezb0572rm] {

    
    margin-top: 5vw;
    width: 90%;

}